# Discord Developer Portal > General Information
DISCORD_CLIENT_ID=

# ID of the server where you are testing the bot. Enable Discord Developer Mode,
# right-click the server icon, then choose Copy Server ID.
DISCORD_GUILD_ID=

# Discord Developer Portal > Bot > Reset Token (keep this secret)
DISCORD_BOT_TOKEN=
